#define WIFI_SSID   "YOUR-WIFI-SSID"
#define WIFI_PASSWD "YOUR-WIFI-PASSWORD"
#define INFLUXDB_URL "YOUR-INFLUXDB-HOST:8086"
#define INFLUXDB_TOKEN "YOUR-INFLUXDB-ACCESS-TOKEN"
#define INFLUXDB_ORG "YOUR-INFLUXDB-ORGANIZATION"
#define INFLUXDB_BUCKET "YOUR-INFLUXDB-BUCKET"

#define INFLUXDB_MEASUREMENT    "YOUR-INFLUXDB-MEASUREMENT-NAME"
